@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Montserrat&display=swap');

body {
    width:100vw;
    height:100vh;
    margin: 10px;
}

.background {
    width: 100vw;
    height: fit-content;
    background: url(../images/pexels-james-wheeler-1487009.jpg) no-repeat center/cover;
    object-position: bottom;
    font-family: 'Cinzel', sans-serif;
    color: white;
}

.outer-box {
    height: 90vh;
    width: 90vw;
    background-color: rgba(90, 34, 139, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.heading {
    padding-top: 15px;
    font-size: 2rem;
    font-family: 'Cinzel decorative', sans-serif;
    text-align: center;

}

/** Question Area**/
#question {
    padding-top: 20px;
    font-size: 1.5rem;
    font-family: 'Cinzel', sans-serif;
    text-align: center;
}

.question-area {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60vh;
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
}

#answers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#answers label {
    border: 2px solid #ffff;
    height: 28vw;
    width: 28vw;
    max-height: 150px;
    max-width: 150px;
    font-size: 100%;
    margin: 15px;
}

.hide {
    display:none;
}





/** Submit Buttons **/

.bottom-btn {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 35px;
    height: 40px;
    width: 150px;
    background-color: rgb(28, 6, 58);
    color: white;
    font-family: 'Cinzel', sans-serif;
    font-size: 90%;
}

/** Prediction Page **/

.prediction-background { 
    background: url(/assets/images/crystal-ball-4043805_1280.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100vw;
}

#prediction {
    background:rgba(28, 6, 58, 0.7);
    height: 50vw;
    width: 50vw;
    max-height: 200px;
    max-width:200px;
    border-radius: 50%;
}