@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Montserrat&display=swap');

body {
    height: 100%;
    margin: 0;
    font-family: 'Cinzel', sans-serif;
    color: white;
}

.background {
    height: 100vh;
    background: url(../images/pexels-james-wheeler-1487009.jpg) no-repeat center/cover;
    top: 0px;
    left: 0px;
}

.outer-box {
    top: 5vh;
    position:relative;
    margin-top: auto;
    height: 80vh;
    width: 90vw;
    background-color: rgba(90, 34, 139, 0.3);
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.heading {
    padding-top: 10px;
    font-size: 2rem;
    font-family: 'Cinzel decorative', sans-serif;
    text-align: center;

}

/** Question Area**/
#question {
    padding-top: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.question-area {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50vh;
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
}

#answers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#answers input {
    display: none;
}

#answers label {
    border: 2px double #ffff;
    font-size: 100%;
    display:flex;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 25vw;
    max-width:150px;
    min-width: 100px;
    margin: 10px;
}

#answers label:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.answered {
    background-color: #ffff;
    color:rgb(28, 6, 58)
}

.hide {
    display:none;
}

#current-question {
    position: absolute;
    bottom: 2px;
    left: 10px;
    font-size: 80%
}



/** Submit Buttons **/

.next-btn, .predict-btn {
    display: flex;
    justify-content: center;
}


.btn {
    background-color: rgba(28, 6, 58, 0.8);
    color: white;
    font-family: 'Cinzel', sans-serif;
    font-size: 90%;
    height: 40px;
    width: 100px;
    margin-top: 15px;
}



/** Prediction Page **/

.prediction-background { 
    background: url(/assets/images/crystal-ball-4043805_1280.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100vw;
}

.prediction {
    background:rgba(28, 6, 58, 0.3);
    height: 85vw;
    width: 85vw;
    max-height: 400px;
    max-width: 400px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#your-future {
    background: rgba(28, 6, 58, 0.3);
        height: 85vw;
        width: 85vw;
        max-height: 400px;
        max-width: 400px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffff;

    }

@media screen and (max-width: 300px) {
    #answers label {
        font-size: 80%;
        width: 30px;
        margin: 5px;
    }
    .outer-box {
        margin: 10px;
    }

    .question-area {
        height: 50vh;
    }
}

@media screen and (min-width: 1100px) {

    .heading {
        font-size: 250%;
    }

    .question-area {
        padding-top: 5vh;
        height: 50vh;
    }

    #answers label {
        padding: 8vh 0;
        width: 300px;
    }

    .btn {
        height: 70px;
        width: 200px;
        font-size: larger;
    }

    

    #current-question {
        left: 20px;
        bottom: 10px;
    }
}